<div class="container">
  <% @url_type = customer_men_path %>
  <%= render partial: 'search', locals: { q: @q, url_type: @url_type } %>
  <%= render 'index', objects: @customers %>
  <div class="row">
    <div class="col-auto mx-auto">
      <%= paginate @customers %>
    </div>
  </div>
</div>
