<div class="container">
  <div class="row">
    <div class="py-5 col-12 text-center">
      <h2>本当に退会しますか？</h2>
      <p>退会する場合は、『退会する』をクリックしてください。</p>
    </div>
    <div class="col-12 text-center">
      <%= link_to '退会しない', customer_path(@customer), class: 'btn btn-primary btn-sm' %>
      <%= link_to "退会する", withdraw_customer_path(@customer), method: :patch,
          data: { confirm: "本当に退会しますか？" }, class: 'btn btn-danger btn-sm ml-1' %>
    </div>
  </div>
</div>