<div class="container">
  <div class="row my-5 d-flex flex-column">
    <div class="col-10 col-md-8 col-lg-5 mx-auto p-3 p-md-5 text-center border border-dark rounded-lg shadow">
      <div class="col"><h5>お問い合わせ<br>ありがとうございます</h5></div>
      <div class="col">
        <p>お問い合わせ内容については、<br>確認の上、返信させていただきます。</p>
      </div>
    </div>
    <div class="col-8 mt-4 mx-auto text-center">
      <p>回答するまでに数日お時間をいただく場合がございます</p>
      <p>あらかじめご了承ください</p>
    </div>
  </div>
</div>