<p>こんにちは <%= @resource.name %>さん!</p>

<p>誰かがあなたのパスワードを変更するための要求をしました。以下のリンクからパスワードの再設定を行うことができます。</p>

<p><%= link_to 'パスワードを再設定する', edit_customer_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワード再設定に身に覚えのない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまで、パスワードは変更されません。</p>

<p>Favory ファボリー 自衛官×マッチングアプリ</p>