// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.customer-image {
  object-fit: cover;
}

.new-tag {
  font-weight: bold;
  font-size: 18px;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #8a2387, #e94057, #f27121);
  background: linear-gradient(to right, #8a2387, #e94057, #f27121);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.jscroll-pagination nav.pagination {
  display: none;
}
