// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-image {
  height: 100vh;
  background-image: image-url('top-image.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* ボタングラデーション */
.btn-gradient {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  &:hover {
    background-image: linear-gradient(120deg, #f5576c 0%, #f093fb 100%);
  }
}