$('#scroll-inner').append("<li class='my-3 pr-2 text-right'><small class='text-muted'><%= @chat.created_at.strftime('%-H:%M') %></small>\n<div class='chat-current-customer d-inline-block shadow p-2 text-light text-left'><%= @chat.message %></div></li>");
$('input[type=text]').val("")
$('#scroll-inner').animate({ scrollTop: $('#scroll-inner')[0].scrollHeight});
