/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 100px;
}

a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* ボタングラデーション */
.btn-gradient {
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  &:hover {
    background-image: linear-gradient(120deg, #f5576c 0%, #f093fb 100%);
  }
}

/*ページネーション自体のデザイン*/
.pagination>span>a {
  color: #696969;
  margin-right: 10px;
  font-size: 2rem;
  &:hover {
    text-decoration: none;
  }
}

/* 表示しているページ番号のデザイン */
.pagination>.page.current {
  margin-right: 10px;
  font-size: 2rem;
}

.men-icon {
  color: #77EEFF;
  &:hover {
    color: #77EEFF;
    textdecoration: none;
  }
}
.women-icon {
  color: #FF82B2;
  &:hover {
    color: #FF82B2;
    textdecoration: none;
  }
}
/* 通知マークの円 */
.n-circle {
  position: absolute;
  left: 0.5rem;
  bottom: 0.4rem;
  color: #ff4d4d;
}